h1
{
    color: red;
    font-size: 3em;
}

figure
{
    text-align:center;
}

ul
{
    box-shadow: 5px 5px 5px grey;
    border: 1px solid cadetblue;
}

a:hover
{
    font-size: 2em;
    font-weight:bold;
}